.wrapper {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  background-color: dark;
}

.inner {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.description {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.controls {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.control {
  min-width: 160px;
}
